.registro-campeonato {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.registro-campeonato h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.equipos-container-wrapper {
  width: 25%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #507788, #141E22);
  margin: 0 20px; 
  
  
}

.equipos-container-wrapper.left {
  margin-right: 0; 
}

.equipos-container-wrapper.left h3 {
  font-weight:bold;
  margin-left:5px;
  margin-top:4px;
  margin-bottom:4px;
  color:white;
}

.equipos-container-wrapper.right {
  margin-left: 0;
}

.equipos-container-wrapper.right h3 {
  font-weight:bold;
  margin-left:5px;
  margin-top:4px;
  margin-bottom:4px;
  color:white;
}

.equipos-container {
  display: flex;
  flex-direction: column;
  
  
}

.equipo-card {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px; 
  border: 3px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color:#D9D9D9;
  
}

.equipo-card.selected {
  background-color: #d1e7dd;
}

.equipo-card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%; 
}

.equipo-card p {
  margin: 0;
  font-weight: bold;
}

.equipo-card small {
  color: #555;
}


.selected-teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  
}

.selected-team {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #507788, #141E22);
  text-align: center; 
  margin-bottom: 0px;
}

.selected-team h4 {
  margin-bottom: 10px;
  font-weight: bold;
  color:white;
}

.selected-team .equipo-card {
  margin-bottom: 0;
  justify-content: center; 
}

.vs-title{
  margin-top:20px;
  text-align: center;
  margin-bottom: 20px;
  color: #143E42;
  font-size:45px;
  font-weight:bold;
  font-family:"Times New Roman";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.equipo-card p {
  margin-right: 5px;
  font-weight: bold;
  display: block;
}

.equipo-card small {
  color: #555;
  display: block;
  margin-top: 25px; 
  
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.select-container {
  position: relative;
  width: 800px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
}


.select-container .ant-select {
  width: 100%;
  height: 69px;
  font-size: 18px;
}

.select-container .ant-select-selector {
  height: 69px !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: white;
  border: none !important;
  box-shadow: none !important;
}

.select-container .ant-select-selection-placeholder {
  color: #000000 !important;
  font-size: 18px;
  opacity: 0.5;
}

.select-container .ant-select-selection-item {
  line-height: 69px !important;
  font-size: 18px;
  color: #000;
}

.select-container .ant-select:hover .ant-select-selector {
  background-color: #F5F5F5;
}

.select-container .ant-select-focused .ant-select-selector {
  outline: none;
  border-color: #555 !important;
  box-shadow: none !important;
}

.select-container .ant-select-dropdown {
  border-radius: 15px;
  overflow: hidden;
}

.select-container .ant-select-item {
  font-size: 16px;
  color: #000;
  padding: 8px;
}

.select-container .ant-select-item-option-active {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}


.select-container .ant-select-item-option-selected {
  background-color: #e6f7ff !important;
  color: #000 !important;
}

