/* ========== Estilos Generales de la Tabla ========== */
.table-container {
  padding: 20px;
  width: 95%;
  margin: auto;
}

.table-title {
  text-align: left;
  font-size: 45px !important;
  margin-bottom: 5px !important;
  color: #143E42;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-left: auto;
}

.table-layout {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 
    4px 0 8px rgba(0, 0, 0, 0.2),  /* Sombra derecha */
    -4px 0 8px rgba(0, 0, 0, 0.2), /* Sombra izquierda */
    0 4px 8px rgba(0, 0, 0, 0.2),  /* Sombra abajo */
    0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra arriba */
}

.table-layout tr:last-child td:first-child {
  border-bottom-left-radius: 10px !important;
}

.table-layout tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table-head {
  background: linear-gradient(to bottom, #507788, #141E22);
  color: #fff;
  border-radius: 8px !important;
  height: 60px;
}

.table-th {
  text-align: center;
  font-size: 13px;
}

.table-th:first-child {
  border-top-left-radius: 8px;
}

.table-th:last-child {
  border-top-right-radius: 8px;
}

.table-td {
  padding: 1px 12px;
  text-align: center;
  background-color: white;
  box-shadow: none; 
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.table-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;  
}


/* Estilos para tabla persona*/

.table-th-p {
  text-align: center;
  font-size: 12px;
}

.table-th-p:first-child {
  border-top-left-radius: 8px;
}

.table-th-p:last-child {
  border-top-right-radius: 8px;
}

.table-td-p {
  padding: 1px 12px;
  text-align: center;
  background-color: white;
  box-shadow: none; 
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}


/* ========== Estilos para Botones ========== */
.table-button {
  padding: 5px 7px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease, transform 0.2s;
}

.table-button:hover {
  transform: scale(1.05);
}

.button-view {
  background-color: #579FA6;
  color: #fff;
}

.button-add {
  background-color: #57a664;
  color: #fff;
}


.button-edit {
  background-color: #9DAC42 !important;
  color: #fff;
}

.button-delete {
  background-color: #762727 !important;
  color: #fff;
}

.button-add:hover {
  background-color: #4d9c5a;
  color: #fff;
}

.button-view:hover {
  background-color: #0056b3;
}

.button-edit:hover {
  background-color: #e0a800;
}

.button-delete:hover {
  background-color: #c82333;
}

/* ========== Botón de Añadir Nuevo Registro ========== */
.table-add-button {
  background-color: #3D8FA4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-add-button:hover {
  background-color: #35748C;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.table-add-button:active {
  background-color: #2C5D6E;
  transform: translateY(1px);
}

.disabled-button {
  background-color: #e0e0e0 !important; /* Gris claro */
  color: #9e9e9e !important; /* Texto gris */
  cursor: not-allowed; /* Cambia el cursor */
  box-shadow: none; /* Sin sombra */
  pointer-events: none; /* No permite interacción */
}


/* ========== Estilos para el Modal ========== */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

.modal-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-button, .modal-cancel-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button {
  background: linear-gradient(to bottom, #507788, #141E22);
  color: white;
}

.modal-cancel-button {
  background: linear-gradient(to bottom, #762727, #141E22);
  color: white;
}

.modal-button:hover, .modal-cancel-button:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/*Filtros*/

.table-filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.table-filters .filter-select {
  border-radius: 8px !important; /* Redondea los bordes */
  padding: 0px !important;
  height: 40px; /* Altura consistente con el input */
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

.table-filters .filter-select:hover {
  border-color: #3D8FA4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.table-filters .filter-select:focus {
  border-color: #3D8FA4;
  outline: none;
}

.table-filters .search-box {
  padding: 10px 15px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-filters .search-box:hover {
  border-color: #3D8FA4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.table-filters .search-box:focus {
  border-color: #3D8FA4;
  outline: none;
}

.table-filters select,
.table-search-input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-filters select:hover,
.table-search-input:hover {
  border-color: #3D8FA4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.table-filters select:focus,
.table-search-input:focus {
  border-color: #3D8FA4;
  outline: none;
}

.table-search-input {
  width: 200px;
}

/*activate button*/
/* Estilos para el switch de activación */
.user-activation-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.user-activation-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.user-activation-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.user-activation-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.user-activation-switch input:checked + .user-activation-slider {
  background-color: #2d71f0;
}

.user-activation-switch input:checked + .user-activation-slider:before {
  transform: translateX(26px);
}

.jugador-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre la imagen y el texto */
}

/* ========== Responsividad ========== */
@media (max-width: 768px) {
  .table-th, .table-td {
    font-size: 0.9em;
  }

  .table-logo {
    width: 40px;
    height: 40px;
  }

  .table-button {
    padding: 6px 8px;
    font-size: 0.8em;
  }
}
