.table-container {
  padding: 20px;
  background-color: transparent !important;
  border-radius: 28px;
  box-shadow: 
    8px 0 16px rgba(0, 0, 0, 0.2), 
    -8px 0 16px rgba(0, 0, 0, 0.2), 
    0 8px 16px rgba(0, 0, 0, 0.2), 
    0 -8px 16px rgba(0, 0, 0, 0.2);
}

.table-title {
  text-align: center;
  font-size: 45px !important;
  margin-bottom: 5px !important;
  color: #143E42;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.table-row {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}

.table-layout {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-head {
  background: linear-gradient(to bottom, #507788, #141E22);
  color: #fff;
  border-radius: 8px !important;
}

.table-th, .table-td {
  padding: 8px 12px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table-th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table-th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table-td {
  padding: 10px 12px;
  text-align: center;
  background-color: white;
  box-shadow: none; 
}

.table-td-name {
  font-size: 17px;
  font-weight: bold;
}

.table-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.table-button {
  padding: 8px 12px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease, transform 0.2s;
}

.button-view {
  background-color: #579FA6;
  color: #fff;
}

.button-edit {
  background-color: #9DAC42 !important;
  color: #fff;
}

.button-delete {
  background-color: #762727 !important;
  color: #fff;
}

.table-button:hover {
  transform: scale(1.05);
}

.button-view:hover {
  background-color: #0056b3;
}

.button-edit:hover {
  background-color: #e0a800;
}

.button-delete:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .table-th, .table-td {
    font-size: 0.9em;
  }

  .table-logo {
    width: 40px;
    height: 40px;
  }

  .table-button {
    padding: 6px 8px;
    font-size: 0.8em;
  }
}

/* Estilos del modal */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

.modal-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-button, .modal-cancel-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button {
  background: linear-gradient(to bottom, #507788, #141E22);
  color: white;
}

.modal-cancel-button {
  background: linear-gradient(to bottom, #762727, #141E22);
  color: white;
}

.modal-button:hover, .modal-cancel-button:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
