nav {
  width: calc(100% - 60px); /* Restar 20px para considerar el margen de 10px a cada lado */
  margin: 0 10px; /* Margen de 10px a cada lado */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; /* Padding vertical para mantener espacio interno */
  box-sizing: border-box; /* Asegura que el padding y el margen no afecten el ancho total */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que el contenido del ul se expanda a todo el ancho disponible */
  justify-content: space-between; /* Espacia los elementos dentro del ul */
}

nav ul li {
  margin-right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap; /* Evita que los elementos se rompan en múltiples líneas */
  font-weight:bold;  
}

.navbar-campeonatos {
  margin-left: 40px; /* Ajusta el espacio a la derecha */
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo-container li {
  list-style: none;
  font-weight: bold;
  color: #143E42;
  font-size: 1.8em; 
  margin-left:-20px;
}

.logo-container img {
  height: 130px; /* Ajuste de altura más pequeño para mantener la proporción en pantallas más pequeñas */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto; /* Mueve el input a la derecha */
  max-width: 400px; /* Ajusta el ancho máximo */
}

.search-input {
  width: 300px;
  padding: 8px 30px 8px 8px; 
  border: 2px solid #ccc;
  border-left: 4px solid #3D8FA4; /* Línea vertical en el lado izquierdo */
  border-radius: 5px;
  outline: none;
}

.clear-icon {
  position: absolute;
  right: 35px; /* Ajusta la posición de la 'X' */
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}

.clear-icon:hover {
  color: black;
}
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
}

.search-button .material-icons {
  font-size: 20px;
  color: #3D8FA4; /* Mismo color que la línea izquierda */
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px; /* Asegura que la lista sea del mismo ancho que el input */
  max-height: 200px; /* Evita que la lista sea demasiado larga */
  overflow-y: auto; /* Habilita el scroll vertical */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que la lista esté por encima de otros elementos */
  flex-direction: column; /* Apila los resultados en columna */
}

.search-result-item {
  display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

/* Icono al lado de cada resultado */
.search-result-icon {
  margin-right: 10px;
  font-size: 18px;
  color: #3D8FA4;
}

.line {
  margin-left: auto; /* Empuja la línea hacia la derecha */
  margin-right: 20px; /* Ajusta el espacio antes del campo de búsqueda */
}

.login {
  margin-left: 20px; /* Espacio entre el botón de búsqueda y el enlace de inicio de sesión */
}


html, body {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la página ocupe al menos toda la altura de la ventana */
}

.layout-content {
  flex: 1; /* Permite que el contenido crezca y ocupe el espacio disponible */
  padding: 20px;
}

.footer {
  background: linear-gradient(to bottom, #355862, #497C8B);
  color: #FFFFFF;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom: 0;
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  margin-top: 200px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-brand {
  font-size: 2em;
  font-weight: bold;
}

.footer-icons i {
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;
}

.footer-icons i:hover {
  color: #007BFF;
}
