nav {
  width: calc(100% - 60px); /* Restar 20px para considerar el margen de 10px a cada lado */
  margin: 0 10px; /* Margen de 10px a cada lado */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; /* Padding vertical para mantener espacio interno */
  box-sizing: border-box; /* Asegura que el padding y el margen no afecten el ancho total */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que el contenido del ul se expanda a todo el ancho disponible */
  justify-content: space-between; /* Espacia los elementos dentro del ul */
}

nav ul li {
  margin-right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap; /* Evita que los elementos se rompan en múltiples líneas */
  font-weight:bold;  
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container li {
  list-style: none;
  font-weight: bold;
  color: #143E42;
  font-size: 1.8em; 
  margin-left:-20px;
}

.logo-container img {
  height: 130px; /* Ajuste de altura más pequeño para mantener la proporción en pantallas más pequeñas */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%; /* Ajusta el ancho del campo de búsqueda */
  max-width: 200px; /* Establece un ancho máximo */
}

.line {
  margin-left: auto; /* Empuja la línea hacia la derecha */
  margin-right: 20px; /* Ajusta el espacio antes del campo de búsqueda */
}

.login {
  margin-left: 20px; /* Espacio entre el botón de búsqueda y el enlace de inicio de sesión */
}


.footer {
  background: linear-gradient(to bottom, #355862, #497C8B);;
  color: #FFFFFF;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:200px;
  font-weight: bold;
  font-size:20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-brand {
  font-size: 2em;
  font-weight: bold;
}

.footer-icons i {
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;
}

.footer-icons i:hover {
  color: #007BFF;
}