.registro-campeonato {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro-campeonato h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
  color: #143E42;
  font-size: 36px;
  font-weight: bold;
}
  
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative; /* Asegura que el ul esté posicionado relativo al form-group */
}
  
.custom-range-picker input::placeholder {
  color: #000000 !important; 
  font-size: 18px; 
  opacity: 0.5;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="file"] {
  width: 100%;
  height: 69px;
  padding: 8px;
  border-radius: 15px;
  background-color: white;
  font-size: 18px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir una sombra para dar más definición */
  position: relative; /* Necesario para que el ul se posicione correctamente */
  z-index: 2; /* Asegura que el input esté por encima del ul */
}
.form-group input:hover {
  background-color: #F5F5F5;
}

#RegCampBtn:hover {
  opacity: 0.7;
}

.custom-modal .ant-modal-content {
  background-color: #f0f0f0; 
  border-radius: 10px; 
}
  
.custom-modal .ant-modal-header {
  background: linear-gradient(to left, #3D8FA4, #17363E); 
  color: white; 
  border-bottom: 1px solid #1890ff; 
  height: 40px;
  padding: 7px;
  border-radius: 5px;
  margin: -10px;
  margin-bottom: 30px;
}
  
.custom-modal .ant-modal-title {
  color: white; 
}
  
.custom-modal .ant-modal-footer {
  border-top: none; 
  display: flex;
  justify-content: flex-end;
}
  
.custom-modal .ant-btn-primary {
  background: linear-gradient(to bottom, #3D8FA4, #17363E);
  border-color: #1890ff; 
}
  
.custom-modal .ant-btn {
  margin-left: 8px; 
}

.form-group input::placeholder {
  color: #000000;
  opacity: 0.5;
  font-size: 18px;
}

.custom-range-picker {
  width: 100%;
  height: 69px;
  border-radius: 15px;
  background-color: white;
}

.custom-range-picker:hover {
  background-color: #F5F5F5;
}

.custom-range-picker input {
  height: 40px !important;
  font-size: 18px !important;
}

.custom-range-picker input::placeholder {
  color: #000000 !important;
  font-size: 18px;
  opacity: 0.5;
}

#RegCampBtn {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  padding: 10px;
  background: linear-gradient(to bottom, #3D8FA4, #17363E);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#RegCampBtn:hover {
  opacity: 0.7;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #143E42;
}

.crop-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.controls .MuiSlider-root {
  width: 80%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons .bottonsImage {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #3D8FA4, #17363E);
  color: #fff;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.buttons .bottonsImageCancel {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #731E19, #D9392F);
  color: #fff;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.buttons .bottonsImage:first-child {
  background-color: #dc3545;
}

.buttons .bottonsImage:hover {
  background-color: #0056b3;
}

.buttons .bottonsImage:first-child:hover {
  background-color: #c82333;
}

.file-input {
  display: none;
}

.form-group .file-label:hover {
  background-color: #F5F5F5;
  opacity: 0.7;
}

.file-label {
  width: 100%;
  height: 69px;
  padding: 18px;
  border-radius: 15px;
  background-color: white;
  font-size: 18px;
}

.file-button {
  background-color: transparent;
  color: black;
  padding: 20px 15px;
  border-radius: 4px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.file-name {
  color: #000000;
  opacity: 0.5;
  font-size: 18px;
}

.bottonsImage {
  display: flex;
  justify-content: space-between;
}

.bottonsImage {
  padding: 10px 20px;
  background: #3D8FA4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottonsImage:hover {
  opacity: 0.8;
}

.image-preview {
  max-width: 100%;
  max-height: 300px !important;
  border-radius: 10px;
  margin-top: 10px;
}

/* Estilo para select */

.select-container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.select-container .ant-select {
  width: 100%;
  height: 69px;
  font-size: 18px;
}

.select-container .ant-select-selector {
  height: 69px !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: white;
  border: none !important;
  box-shadow: none !important;
}

.select-container .ant-select-selection-placeholder {
  color: #000000 !important;
  font-size: 18px;
  opacity: 0.5;
}

.select-container .ant-select-selection-item {
  line-height: 69px !important;
  font-size: 18px;
  color: #000;
}

.select-container .ant-select:hover .ant-select-selector {
  background-color: #F5F5F5;
}

.select-container .ant-select-focused .ant-select-selector {
  outline: none;
  border-color: #555 !important;
  box-shadow: none !important;
}

.select-container .ant-select-dropdown {
  border-radius: 15px;
  overflow: hidden;
}

.select-container .ant-select-item {
  font-size: 16px;
  color: #000;
  padding: 8px;
}

.select-container .ant-select-item-option-active {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}

.select-container .ant-select-item-option-selected {
  background-color: #e6f7ff !important;
  color: #000 !important;
}

.form-group ul {
  position: absolute;
  top: 100%; /* Asegura que el ul aparezca justo debajo del input */
  left: 0;
  width: 100%; /* Asegura que el ul tenga el mismo ancho que el input */
  list-style: none;
  padding: 0;
  margin: 0; /* Elimina cualquier margen adicional */
  border-radius: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 3; /* Asegura que el ul esté por encima del input */
}

.form-group ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #ddd;
}

.form-group ul li:last-child {
  border-bottom: none;
}

.form-group ul li:hover {
  background-color: #e6f7ff;
}

.form-group ul li.selected {
  background-color: #d6e4ff;
  font-weight: bold;
}

.persona-seleccionada {
  width: 48%; /* Ocupa el 48% del contenedor para que esté alineado al buscador */
  padding: 15px;
  border: 1px solid #1890ff;
  border-radius: 10px;
  background-color: #f0f7ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centraliza el texto */
}

.persona-seleccionada img {
  width: 150px; /* Ajusta el tamaño de la imagen */
  height: 150px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.persona-seleccionada h3 {
  margin-top: 0;
  color: #1890ff;
  font-weight: bold;
  font-size: 20px;
}

.persona-seleccionada p {
  margin: 5px 0;
  color: #555;
  font-size: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido al inicio, dejando la imagen a la izquierda */
  margin-bottom: 40px;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}
.header-container h2 {
  margin: 0; /* Elimina el margen superior del título */
}

.content-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al inicio en la vertical */
  justify-content: space-between; /* Deja espacio entre el buscador y los detalles */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.search-container {
  width: 48%; /* Ocupa el 48% del contenedor para dejar espacio para los detalles */
  margin-right: 4%; /* Espacio entre el buscador y los detalles */
}

.header-container img.club-logo {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  margin-right: 20px; /* Espacio entre la imagen y el título */
  border-radius: 50%; /* Si deseas que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen mantenga su aspecto dentro del contenedor */
}
