
.carousel-container {
    display: flex;
    justify-content: center; 
    margin: 60px auto; 
    border-radius: 10px;
    height: 550px;
}

.carousel {
    width: 100% !important; 
    max-width: 1000px !important; 
    margin: 0 auto; 
    height: 100% !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #6CB4C8 0%, #518695 50%, #355862 100%);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 100% !important;
    max-width: 100%;
    height: 550px !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel .control-arrow {
    display: none !important; /* Hides the arrows completely */
}




.match-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top:-40px;
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
    text-align: center;
    margin-left: 50px; 
    margin-right: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius:15px;
    width:300px;
    height:270px;
    background: radial-gradient(circle, #3E707E 0%, #579DB1 50%, #6FCAE4 100%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.vs-container {
    width: auto;
    text-align: center;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 80px !important;
    line-height: 1 !important;
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.team-logo-container {
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.team-logo {
    width: 150px !important; 
    height: 150px !important; 
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    
}

.team-name {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    color: white !important;
    font-size:30px !important;
}

.date-time-container {
    text-align: center;
    margin-top: -30px;
}

.match-date {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.2em !important;
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.match-time {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em !important;
    color: white !important;
}

@media (max-width: 768px) {
    .carousel .control-arrow {
        display: none;
    }

    .team-logo {
        width: 100px !important; 
        height: 100px !important; 
    }

    .vs {
        font-size: 1.5em;
    }

    .match-date, .match-time {
        font-size: 1em;
    }
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 20%;
    z-index: 1;
    
}

.overlay-text {
    position: absolute;
    top: -70px; 
    width: 100%;
    text-align: center;
    z-index: 10;
    color: white; 
}

.overlay-text h1 {
    font-family: "Anton", sans-serif;
    font-size: 50px; 
    font-weight: bold;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


/* Contenedor principal para los próximos partidos */
.next-matches-container {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center; 

    margin: 60px auto; 
  }
  
  .next-matches-titulo {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #143E42;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  
  .next-matches-ver-tabla-button {
    margin-right: 200px;
  }
  
  .next-matches-registrar-button:hover,
  .next-matches-ver-tabla-button:hover {
    background-color: #0056b3;
  }
  
  .next-matches-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .next-matches-card {
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0.8, 0.8, 0.8, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

  }
  
  .next-matches-team-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
  }
  
  .next-matches-team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .next-matches-team-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .next-matches-team-name {
    font-size: 16px;
    text-align: center;
    color: #333;
  }
  
  .next-matches-vs {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  
  /* Match Info */
  .next-matches-info {
    margin-top: 15px;
    text-align: center;
  }
  
  .next-matches-date,
  .next-matches-time {
    font-size: 14px;
    color: #555;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .next-matches-registrar-button,
    .next-matches-ver-tabla-button {
      width: 100%;
      margin-bottom: 10px;
      position: static;
    }
  
    .next-matches-grid {
      grid-template-columns: 1fr;
    }
  
    .next-matches-team-info {
      flex-direction: column;
    }
  }



  /* Estilos para la nueva sección */
.custom-section {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
    justify-content: center; 

    margin: 60px auto; 
  }
  
  .custom-section-titulo {
    text-align: center;
    color: #143E42;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  /* Contenedor para la imagen y el campo de texto */
  .custom-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  /* Estilo para la imagen */
  .custom-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-left:70px;
  }
  
  /* Estilo para el campo de texto */
  .custom-textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left:80px;
    margin-top:-120px;
    font-size:21px;
    font-weight:bold;
    text-align:justify;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .custom-content {
      flex-direction: column;
    }
  
    .custom-image {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }
  
    .custom-textarea {
      width: 100%;
      height: 200px;
    }
  }
  
  