.registro-campeonato {
    max-width: auto;
    margin: 0;
    padding: 20px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .registro-campeonato h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 60px;
    color: #143E42;
    font-size: 45px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group input[type="text"],
  .form-group input[type="file"] {
    width: 800px;
    height: 69px;
    padding: 8px;
    border-radius: 15px;
    background-color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-group input:hover {
    background-color: #F5F5F5;
  }
  
  .form-group input[type="text"]::placeholder,
  .form-group input[type="file"]::placeholder {
    color: #000000;
    opacity: 0.5;
    font-size: 18px;
  }
  
  .custom-range-picker {
    width: 800px;
    height: 69px;
    border-radius: 15px;
    background-color: white;
  }
  
  .custom-range-picker:hover {
    background-color: #F5F5F5;
  }
  
  .custom-range-picker input {
    height: 40px !important;
    font-size: 18px !important;
  }
  
  .custom-range-picker input::placeholder {
    color: #000000 !important;
    font-size: 18px;
    opacity: 0.5;
  }
  
  #RegCampBtn {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 10px;
    background: linear-gradient(to bottom, #3D8FA4, #17363E);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  #RegCampBtn:hover {
    opacity: 0.7;
  }
  
  .image-preview {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    margin-top: 10px;
  }
  